{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <form action="" method="POST" >
    {% csrf_token %}
    <div class="modal-header">						
        <h4 class="modal-title">Edit PROYECT</h4>
        
    </div>
    <div class="modal-body">					
        <div class="form-group">
            <label> TITULO PROYECTO</label>
            <input type="text" class="form-control" name ="titulo" id="titulo" value={{proyecto.titulo}} required>
        </div>
        <div class="form-group">
            <label>TAG</label>
            <input type="text" class="form-control" id="tag" name ="tag" value={{proyecto.tag}} required>
        </div>
        <div class="form-group">
            <label>DESCRIPCION</label>
            <textarea class="form-control" id="descripcion" name ="descripcion" required>{{proyecto.descripcion}}</textarea>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input type="text" class="form-control"id="url" name ="url"  value={{proyecto.url}} required>
        </div>		

        <div class="form-group">
            <label>FOTO</label>
            <input type="file" accept="image/*" class="form-control" name ="foto" id="foto" required>
        </div>				
    </div>
    <div class="modal-footer">
        <a href="{% url 'proyect:portafolio2' %}"><input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"></a>
        <input type="submit" class="btn btn-info" value="Save">
    </div>

</form>


{% endblock %}