

{% extends "base.html" %}

{% block content %}



<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">TITULO PROYECTO</th>
      <th scope="col">TAG</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col">URL</th>
      <th scope="col">FOTO</th>
    </tr>
  </thead>
  <tbody>
    {% for item in registros %}
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.titulo}}</td>
      <td>{{item.tag}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.url}}</td>
      <td>{{item.foto}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


  {% endblock %}